@font-face {
  font-family: 'TT Lakes';
  src: url(fonts/TTLakes-Bold..eot);
  src: local('TT Lakes Bold'), local('TTLakes-Bold'),
    url(fonts/TTLakes-Bold..eot?#iefix) format('embedded-opentype'),
    url(fonts/TTLakes-Bold..woff) format('woff'),
    url(fonts/TTLakes-Bold..ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url(fonts/TTLakes-Medium..eot);
  src: local('TT Lakes Medium'), local('TTLakes-Medium'),
    url(fonts/TTLakes-Medium..eot?#iefix) format('embedded-opentype'),
    url(fonts/TTLakes-Medium..woff) format('woff'),
    url(fonts/TTLakes-Medium..ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url(fonts/TTLakes-Regular..eot);
  src: local('TT Lakes Regular'), local('TTLakes-Regular'),
    url(fonts/TTLakes-Regular..eot?#iefix) format('embedded-opentype'),
    url(fonts/TTLakes-Regular..woff) format('woff'),
    url(fonts/TTLakes-Regular..ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

.button--no-appearance {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
}

.button--hover:hover {
  filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.5));
  transition: all 0.1s ease;
}

.aside_menu {
  width: 320px;
  height: 100%;
  box-shadow: 16px 0 52px 0 rgba(14, 24, 80, 0.2);
  position: fixed;
  left: -320px;
  top: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* min-height: 820px; */
  overflow: auto;
  opacity: 0;
  transition: all 0.2s ease;
  z-index: 999;
}

.aside__header {
  display: flex;
  justify-content: space-between;
  padding: 23px 24px;
  align-items: center;
}

.aside__header__logo {
  margin-right: 70px;
}

.aside__navigation {
  margin-top: 40px;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.aside__navigation__link {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 500;
  padding-left: 24px;
  display: inline-block;
  height: 32px;
  line-height: 32px;
  margin-bottom: 24px;
}

.aside-navigation__link--active {
  background: url(img/small-highlight.svg) no-repeat 0px 0px;
  color: #7e7e82;
}

.aside__footer {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.aside__buttons-wrapper {
  display: flex;
  width: 152px;
  justify-content: space-between;
  margin-bottom: 16px;
}

.aside__footer__link {
  font-weight: 500;
  text-decoration: none;
  color: black;
}

.aside__footer__mail-link {
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 12px;
}

.aside__footer__phone-link {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
  font-weight: 900;
  margin-bottom: 40px;
}

.lang-switcher__button {
  font-weight: 500;
  font-size: 16px;
}

.lang-switcher__button--active {
  color: #7e7e82;
}

.aside_menu--show {
  opacity: 1;
  left: 0;
}

@media screen and (min-width: 1366px) {
  .aside_menu {
    opacity: 1;
    left: 0;
  }

  .button-close-aside {
    display: none;
  }

  .tablet-blur {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 360px) {
  .aside_menu {
    width: 100%;
  }
}

.tablet-blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  mix-blend-mode: normal;
  z-index: -1;
  transition: all 0.2s ease;
  opacity: 0;
}

.tablet-blur--show {
  opacity: 0.96;
  z-index: 998;
}

.brand_card {
  height: 72px;
  width: 240px;
  background-color: #ffff;
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 16px 0 16px;
  box-sizing: border-box;
  border: 1px solid #eaeaea;
  border-radius: 6px;
}

.brand_card__logo {
  align-self: center;
}

.brands__header {
  display: block;
  min-height: 56px;
  height: auto;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  padding: 16px 0 16px 32px;
  text-transform: uppercase;
  letter-spacing: -0.2px;
  background: linear-gradient(90deg, #f8f8f8 0%, #ffffff 98.61%);
  margin-bottom: 24px;
  border-top: 1px solid #d9fff5;
}

.brands__wrapper__button {
  font-weight: 500;
  font-size: 1.14rem;
  height: 24px;
  letter-spacing: -0.2px;
  display: flex;
  align-items: center;
  margin-left: 32px;
  margin-top: 8px;
  margin-bottom: 16px;
}

.brands__wrapper__button::before {
  display: inline-block;
  content: '';
  background-image: url(img/read_more_icon.svg);
  height: 24px;
  width: 24px;
  margin-right: 8px;
  transition: all 0.3s ease;
}

.brands__wrapper__button--show-less::before {
  transform: rotate(180deg);
}

@media screen and (max-width: 425px) {
  .brand_card {
    margin-left: 16px;
  }
  .brands__wrapper__button {
    display: none;
  }
  .brands__header {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 426px) {
  .brands__wrapper {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    max-height: 172px;
    transition: max-height 0.2s ease;
    margin: auto;
    max-width: 1120px;
    justify-content: space-around;
    padding: 0 24px ;
  }

  

  .brands__wrapper--show_more {
    max-height: 1000px;
    margin-bottom: 16px;
    transition: max-height 0.2s ease;
  }
}

@media screen and (min-width: 767px) {
  .brand_card {
    
    width: 224px;
  }

  .brands__wrapper {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    max-height: 172px;
    transition: max-height 0.2s ease;
    margin: auto;
    max-width: 1120px;
  }

  .brands__wrapper--show_more {
    max-height: 1000px;
    margin-bottom: 16px;
    transition: max-height 0.2s ease;
  }
}

@media screen and (min-width: 1025px) {
  .brand_card {
    width: 240px;
  }
  .brands__wrapper{
    padding: 0 32px
  }
}

.content {
  min-height: 240px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}


.content__wrapper {
  margin-left: 18px;
  margin-bottom: 16px;
  padding-right: 25px;
}

.heading_wrapper {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-right: 32px;
  justify-content: space-between;
}

.buttons_wrapper {
  display: none;
}

.content__text {
  height: calc(18px * 5);
  overflow: hidden;
  line-height: 18px;
  margin: 16px 0;
}

.content__text--show_more {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.content__button {
  width: 132px;
  font-weight: 500;
  font-size: 1.14rem;
  height: 24px;
  letter-spacing: -0.2px;
  display: flex;
  align-items: center;
  color: #1b1c21;
}

.content__button::before {
  display: inline-block;
  content: '';
  background-image: url(img/read_more_icon.svg);
  height: 24px;
  width: 24px;
  margin-right: 8px;
  transition: all 0.3s ease;
}

.content__button--show-less::before {
  transform: rotate(180deg);
}

@media screen and (min-width: 320px) {
  .content__image {
    width: 100%;
    height: auto;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 767px) {
  

  .content__text {
    letter-spacing: 0.2px;
    width: 312px;
    min-height: 145px;
  }

  .content__text--show_more {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }

  .content__image {
    width: 360px;
    height: 208px;
    border-radius: 6px;
  }
}

@media screen and (min-width: 1366px) {
  .content {
      margin-bottom: 16px;
  }
  
  .content__text {
    width: 490px;
  }

  .content__text--show_more {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .buttons_wrapper {
    justify-self: end;
    display: inline-flex;
    flex-direction: row;
    align-items: flex-end;
    align-items: center;
    justify-content: space-around;
    height: 40px;
    width: 373px;
  }

  .buttons_wrapper__button_text {
    font-weight: 500;
    font-size: 1.14rem;
    height: 24px;
    letter-spacing: -0.2px;
    color: #1b1c21;
  }
  .content__image {
    width: 531px;
    height: 307px;
    margin-bottom: 24px;
  }
}

.header {
  display: flex;
  width: auto;
  height: 88px;
  /* min-width: 320px; */
  background: #ffff;
  justify-content: space-evenly;
  padding: 19px 0;
  align-items: center;
  box-sizing: border-box;
  border-bottom: 1px solid #d9fff5;
}

.header__divider--tablet,
.header__button--tablet,
.button__icon--tablet {
  display: none;
}

@media screen and (min-width: 320px) {
  .header__divider,
  .header__divider--tablet {
    content: url(img/divider.svg);
  }

  .header__button {
    width: 40px;
    height: 40px;
    padding: 0;
  }

  .button__icon {
    width: 40px;
    height: 40px;
  }

  .header__image {
    width: 97px;
    height: 51px;
    margin-right: 0;
  }
}

@media screen and (min-width: 767px) {
  .header__divider--tablet,
  .header__button--tablet,
  .button__icon--tablet {
    display: block;
  }

  .header__image {
    margin-right: 5%;
  }
}

@media screen and (min-width: 1366px) {
  .header {
    display: none;
  }
}

.main_section {
  padding-top: 24px;
  min-width: 300px;
}

.main_section__header {
  font-weight: bold;
  background: url(img/highlight.svg) no-repeat;
  padding-left: 16px;
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 2rem;
  letter-spacing: -0.6px;
  display: inline-block;
}

.scroll_menu::before {
  position: absolute;
  content: '';
  width: calc(100% - 24px);
  height: 45px;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 85%,
    #f8f8f8 100%
  );
}

.scroll_menu__button--active {
  border: 2px solid #b8ffec;
  background-color: #ffff;
  border-radius: 6px;
}

.scroll_menu__button {
  font-weight: 500;
  color: #7e7e82;
  font-size: 1.14rem;
  height: 40px;
  padding: 0 16px;
  letter-spacing: -0.2px;
  line-height: 24px;
  font-family: 'TT Lakes', sans-serif;
}

.scroll_menu {
  overflow: auto;
  height: 58px;
  overflow-y: hidden;
  white-space: nowrap;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  padding-left: 24px;
  padding-bottom: 12px;
}

@media screen and (min-width: 1024px) {
  .scroll_menu {
    flex-wrap: wrap;
    height: auto;
  }
  .scroll_menu::before {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .swiper::before {
    z-index: 1000;
    position: absolute;
    top: 75px;
    right: 0;
    content: '';
    display: inline-block;
    width: 24px;
    height: calc(100% - 110px);
    background: linear-gradient(
      270deg,
      #f8f8f8 16.84%,
      rgba(248, 248, 248, 0.0001) 100%
    );
  }

  .swiper-pagination {
    display: block;
    position: relative !important;
    margin-top: 9px;
    margin-bottom: 8px;
  }

  .swiper-slide {
    width: 240px;
    height: 72px;
  }

  .swiper {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

@media screen and (min-width: 426px) {
  .swiper-pagination {
    display: none;
  }
}

:root{--swiper-pagination-color: #b5b6bc;--swiper-pagination-bullet-inactive-color: #ddd;--swiper-pagination-bullet-inactive-opacity: 1;--swiper-theme-color: #000}body{margin:0;background-color:#f8f8f8;position:relative}html{font-size:14px;min-width:300px;font-family:'TT Lakes', sans-serif}*{font-family:'TT Lakes', sans-serif}@media screen and (min-width: 1366px){body{margin-left:320px;width:calc(100% - 320px)}}@media screen and (min-width: 426px){.dummy-box{width:224px}}@media screen and (min-width: 1024px){.dummy-box{width:240px}}

.modal{width:440px;height:100%;padding:40px 32px;box-shadow:16px 0 52px 0 rgba(14,24,80,0.2);position:fixed;top:0;right:-540px;background-color:white;z-index:999;box-sizing:border-box;transition:0.2s all ease}@media screen and (max-width: 1120px){.modal{left:-540px}}.modal--show{right:0}@media screen and (max-width: 1120px){.modal--show{left:0}}.modal__close_button{width:40px;height:40px;position:relative;left:-105px}@media screen and (max-width: 1120px){.modal__close_button{left:420px}}.modal__heading{font-weight:600;margin:0;margin-left:-32px;padding-left:32px;margin-bottom:24px;background:url(img/modal_highlight.svg) no-repeat;margin-top:-40px}.modal__form{display:flex;flex-direction:column}.modal__form__input{width:376px;height:48px;margin-bottom:16px;background:#ffffff;border:1px solid #eaeaea;border-radius:8px;font-size:16px;line-height:24px;letter-spacing:-0.2px;color:#b5b6bc;font-family:'TT Lakes', sans-serif;padding-left:16px;box-sizing:border-box}.modal__form__textarea{resize:none;width:376px;height:118px;background:#ffffff;border:1px solid #eaeaea;border-radius:8px;padding:12px 16px;font-family:'TT Lakes', sans-serif;font-size:16px;line-height:24px;letter-spacing:-0.2px;color:#b5b6bc;box-sizing:border-box}.modal__form__disclaimer__link{text-decoration:none;color:#ff3e79}.modal__form__submit{background:#ff3e79;border-radius:16px;width:136px;height:32px;display:flex;align-items:center;padding-left:22px;margin-left:auto;margin-right:0}.modal__form__submit__text{text-align:left;margin:0;display:inline-block;font-family:'TT Lakes';font-size:12px;line-height:24px;text-align:right;letter-spacing:-0.15px;text-transform:uppercase;color:#ffffff;font-weight:600}@media screen and (max-width: 440px){.modal{width:100%;padding:24px 16px}.modal__heading{margin-top:auto;margin-left:-16px;padding-left:16px;margin-top:40px}.modal__form__input{width:288px}.modal__form__textarea{width:288px}.modal__close_button{left:0}}

@media screen and (min-width: 426px){.repair_types__wrapper{display:flex;flex-wrap:wrap;overflow:hidden;max-height:172px;transition:max-height 0.2s ease;margin:auto;max-width:1120px;justify-content:space-around}}@media screen and (min-width: 426px){.repair_types__wrapper{padding:0 24px}}@media screen and (min-width: 1024px){.repair_types__wrapper{padding:0 32px}}.repair_types__wrapper__button{font-weight:500;font-size:1.14rem;height:24px;letter-spacing:-0.2px;display:flex;align-items:center;margin-left:32px;margin-top:8px;margin-bottom:16px}@media screen and (max-width: 425px){.repair_types__wrapper__button{display:none}}.repair_types__wrapper__button::before{display:inline-block;content:'';background-image:url(img/read_more_icon.svg);height:24px;width:24px;margin-right:8px;transition:all 0.3s ease}.repair_types__wrapper__button--show-less::before{transform:rotate(180deg)}.repair_types__card{height:160px;width:240px;background-color:#ffff;margin-bottom:16px;display:flex;flex-direction:row;justify-content:space-between;padding:0 16px 0 16px;box-sizing:border-box;border:1px solid #eaeaea;border-radius:6px}@media screen and (min-width: 426px) and (max-width: 1024px){.repair_types__card{width:224px}}@media screen and (max-width: 425px){.repair_types__card{width:240px;margin-left:16px}}.repair_types__header{display:block;height:56px;width:100%;margin:0;box-sizing:border-box;padding:16px 0 16px 32px;text-transform:uppercase;letter-spacing:-0.2px;background:linear-gradient(90deg, #f8f8f8 0%, #fff 98.61%);margin-bottom:24px;border-top:1px solid #d9fff5}.repair_types__wrapper--show_more{max-height:10000px}.card__button{display:flex;padding:16px 0}.card__button__icon{align-self:flex-end}

.footer{border:1px solid #d9fff5;display:flex;flex-direction:row;justify-content:space-between;padding:32px 24px;padding-bottom:25px}.footer__text{font-family:'TT Lakes';font-size:14px;line-height:16px;text-align:right;color:#7e7e82;mix-blend-mode:normal;opacity:0.72;width:33%;margin:0}.footer__text--right{text-align:start}.footer__text--center{text-align:center}@media screen and (max-width: 425px){.footer{flex-direction:column}.footer__text{width:100%;text-align:center}}

.prices__header{display:block;height:56px;width:100%;margin:0;box-sizing:border-box;padding:16px 0 16px 32px;text-transform:uppercase;letter-spacing:-0.2px;background:linear-gradient(90deg, #f8f8f8 0%, #fff 98.61%);border-top:1px solid #d9fff5;box-sizing:border-box}.prices__main_wrapper{padding:16px 32px;padding-top:0;box-sizing:border-box}@media screen and (max-width: 425px){.prices__main_wrapper{padding:16px;padding-left:16px;width:100%}}@media screen and (min-width: 426px) and (max-width: 1024px){.prices__main_wrapper{padding:16px}}.prices__heading_wrapper{padding:24px;display:flex;flex-direction:row;justify-content:space-between;font-size:14px;line-height:16px;color:#7e7e82;mix-blend-mode:normal;opacity:0.72;flex-wrap:wrap}.prices__heading_wrapper::after{content:'';width:119px}@media screen and (max-width: 425px){.prices__heading_wrapper{display:none}}.prices__heading{margin:0;text-align:left}.prices__heading--long{width:30%}.prices__heading--medium{width:20%}.prices__heading--short{width:9%}.prices__main__content_wrapper{height:auto;width:100%;border-radius:6px;box-sizing:border-box}@media screen and (max-width: 425px){.prices__main__content_wrapper{width:260px;height:200px;margin-bottom:20px}}.prices__main__content{display:flex;flex-direction:row;justify-content:space-between;padding:16px 24px;box-shadow:0px 25px 0px -24px #eaeaea;align-items:center;background-color:white;border-radius:6px;margin-bottom:1px;flex-wrap:wrap;box-sizing:border-box}.prices__main__content:last-of-type{box-shadow:none}@media screen and (max-width: 425px){.prices__main__content{flex-direction:column;width:260px;height:200px;margin-right:16px;padding:16px;align-items:flex-start;box-shadow:none;justify-content:space-between;flex-wrap:nowrap}}.prices__main__content__name,.prices__main__content__price,.prices__main__content__time{margin:0;max-width:350px;font-size:14px;line-height:18px;letter-spacing:0.2px;color:#1b1c21}@media screen and (max-width: 425px){.prices__main__content__name,.prices__main__content__price,.prices__main__content__time{margin-bottom:16px}}.prices__main__content__name{width:30%;word-wrap:break-word}@media screen and (max-width: 425px){.prices__main__content__name{width:auto;height:auto}.prices__main__content__name::before{content:'Ремонтные услуги';display:flex;flex-direction:column;font-size:14px;line-height:16px;color:#7e7e82;mix-blend-mode:normal;opacity:0.72;margin-bottom:4px}}.prices__main__content__price{width:20%}@media screen and (max-width: 425px){.prices__main__content__price{width:auto;height:auto}.prices__main__content__price::before{content:'Цена';display:flex;flex-direction:column;font-size:14px;line-height:16px;color:#7e7e82;mix-blend-mode:normal;opacity:0.72;margin-bottom:4px}}.prices__main__content__time{width:9%}@media screen and (max-width: 425px){.prices__main__content__time{width:auto;height:auto;margin-bottom:0}.prices__main__content__time::before{content:'Срок';display:flex;flex-direction:column;font-size:14px;line-height:16px;color:#7e7e82;mix-blend-mode:normal;opacity:0.72;margin-bottom:4px}}@media screen and (min-width: 426px) and (max-width: 1024px){.prices__main__content{padding:16px}}.prices__main__content__button{background:#ff3e79;border-radius:16px;width:119px;height:32px;display:flex;flex-direction:row;align-items:center;justify-content:space-evenly;text-align:left;margin:0;padding-left:12px;box-sizing:border-box}@media screen and (max-width: 425px){.prices__main__content__button{position:relative;left:100px;bottom:28px}}.prices__main__content__button__text{display:inline-block;font-family:'TT Lakes';font-size:12px;line-height:24px;text-align:right;letter-spacing:-0.15px;text-transform:uppercase;color:#ffffff;font-weight:600}.prices__disclaimer{max-width:421px;padding:0px 16px;font-size:14px;line-height:20px;letter-spacing:0.2px;color:#1b1c21}@media screen and (min-width: 768px){.prices__disclaimer{padding:0 24px}}@media screen and (min-width: 1440px){.prices__disclaimer{padding:0 32px}}.prices__get_offer_button{font-size:16px;line-height:24px;letter-spacing:-0.2px;color:#1b1c21;font-weight:500;padding:0 16px;display:inline-block;text-align:left}@media screen and (min-width: 768px){.prices__get_offer_button{padding:0 24px}}@media screen and (min-width: 1440px){.prices__get_offer_button{padding:0 32px}}

.brand_card{height:72px;width:240px;background-color:#ffff;margin-bottom:16px;display:flex;flex-direction:row;justify-content:space-between;padding:0 16px 0 16px;box-sizing:border-box;border:1px solid #eaeaea;border-radius:6px}.brand_card__logo{align-self:center}.brands__header{display:block;min-height:56px;height:auto;width:100%;margin:0;box-sizing:border-box;padding:16px 0 16px 32px;text-transform:uppercase;letter-spacing:-0.2px;background:linear-gradient(90deg, #f8f8f8 0%, #fff 98.61%);margin-bottom:24px;border-top:1px solid #d9fff5}.brands__wrapper__button{font-weight:500;font-size:1.14rem;height:24px;letter-spacing:-0.2px;display:flex;align-items:center;margin-left:32px;margin-top:8px;margin-bottom:16px}.brands__wrapper__button::before{display:inline-block;content:'';background-image:url(img/read_more_icon.svg);height:24px;width:24px;margin-right:8px;transition:all 0.3s ease}.brands__wrapper__button--show-less::before{transform:rotate(180deg)}@media screen and (max-width: 425px){.brand_card{margin-left:16px}.brands__wrapper__button{display:none}.brands__header{margin-bottom:16px}}@media screen and (min-width: 426px){.brands__wrapper{display:flex;flex-wrap:wrap;overflow:hidden;max-height:172px;transition:max-height 0.2s ease;margin:auto;max-width:1120px;justify-content:space-around;padding:0 24px}.brands__wrapper--show_more{max-height:1000px;margin-bottom:16px;transition:max-height 0.2s ease}}@media screen and (min-width: 767px){.brand_card{width:224px}.brands__wrapper{display:flex;flex-wrap:wrap;overflow:hidden;max-height:172px;transition:max-height 0.2s ease;margin:auto;max-width:1120px}.brands__wrapper--show_more{max-height:1000px;margin-bottom:16px;transition:max-height 0.2s ease}}@media screen and (min-width: 1025px){.brand_card{width:240px}.brands__wrapper{padding:0 32px}}


/*# sourceMappingURL=style.css.map*/