.content {
  min-height: 322px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.content__wrapper {
  margin-left: 18px;
  margin-bottom: 16px;
  padding-right: 25px;
}

.heading_wrapper {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-right: 32px;
  justify-content: space-between;
}

.buttons_wrapper {
  display: none;
}

.content__text {
  height: calc(18px * 5);
  overflow: hidden;
  line-height: 18px;
  margin: 16px 0;
}

.content__text--show_more {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.content__button {
  width: 132px;
  font-weight: 500;
  font-size: 1.14rem;
  height: 24px;
  letter-spacing: -0.2px;
  display: flex;
  align-items: center;
  color: #1b1c21;
}

.content__button::before {
  display: inline-block;
  content: '';
  background-image: url(../img/main/section/read_more_icon.svg);
  height: 24px;
  width: 24px;
  margin-right: 8px;
  transition: all 0.3s ease;
}

.content__button--show-less::before {
  transform: rotate(180deg);
}

@media screen and (min-width: 320px) {
  .content__image {
    width: 100%;
    height: auto;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 767px) {
  .content__text {
    letter-spacing: 0.2px;
    width: 312px;
    min-height: 145px;
  }

  .content__text--show_more {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }

  .content__image {
    width: 360px;
    height: 208px;
    border-radius: 6px;
  }
}

@media screen and (min-width: 1366px) {
  .content__text {
    width: 490px;
  }

  .content__text--show_more {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .buttons_wrapper {
    justify-self: end;
    display: inline-flex;
    flex-direction: row;
    align-items: flex-end;
    align-items: center;
    justify-content: space-around;
    height: 40px;
    width: 373px;
  }

  .buttons_wrapper__button_text {
    font-weight: 500;
    font-size: 1.14rem;
    height: 24px;
    letter-spacing: -0.2px;
    color: #1b1c21;
  }
  .content__image {
    width: 531px;
    height: 307px;
    margin-bottom: 24px;
  }
}
