.scroll_menu::before {
  position: absolute;
  content: '';
  width: calc(100% - 24px);
  height: 40px;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 85%,
    #f8f8f8 100%
  );
}

.scroll_menu__button--active {
  border: 2px solid #b8ffec;
  background-color: #ffff;
  border-radius: 6px;
}

.scroll_menu__button {
  font-weight: 500;
  font-family: 'TT Lakes', sans-serif;
  color: #7e7e82;
  font-size: 1.14rem;
  height: 40px;
  padding: 0 16px;
  letter-spacing: -0.2px;
  line-height: 24px;
}

.scroll_menu {
  overflow: auto;
  height: 45px;
  white-space: nowrap;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  padding-left: 24px;
  padding-bottom: 12px;
}

@media screen and (min-width: 1366px) {
  .scroll_menu {
    flex-wrap: wrap;
    height: auto;
  }
  .scroll_menu::before {
    display: none;
  }
}
